.modal_container{
    display: none;
    background: #f00;
    background-color: rgba(0,0,0, .85);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 30;
    display: none;
    justify-content: center;
    align-items: center;
}

.modal_dialog{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(200,200,200, .4);
    padding: 10px;
    max-width: 300px;
    height: 400px;
}

.modal_title{
    font-family: "Roboto", sans-serif;
}

.modal_container_open{
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal_icon{
    text-align: center;
    margin-top: 50px;
}
